<section class="content-header">
  <h2>
    Leave
    <small>Manage</small>
  </h2>
</section>
<section class="content" id="popupContainer">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            {{ service.companyDetails.CompanyFullName }}
          </h3>
        </div>
        <div class="box-body form-content-ang7">
          <form #manage_leave="ngForm">
            <div class="row">
              <div class="col-md-12 form-group np-lr">
                <div class="col-md-6 ">
                  <label>Location</label>
                  <ng-select [(ngModel)]="service.leaveManageObj.slctdLocation" [bindLabel]="'locationName'"
                    [disabled]=" service.disabledButtonAndField || service.showVoucherCreatedDetails"
                    [items]="locations" name="location" placeholder="Select Location" (change)="service.resetData();"
                    required>
                    <ng-template let-item="item" ng-label-tmp="ng-label-tmp">
                      <span>
                        {{ item.locationName }}
                      </span> -
                      <span>
                        {{ item.companyLocationId }}
                      </span>
                    </ng-template>
                    <ng-template let-index="index" let-item="item" let-search="searchTerm"
                      ng-option-tmp="ng-option-tmp">
                      <span [ngOptionHighlight]="search">
                        {{ item.locationName }}</span>
                      -
                      <span [ngOptionHighlight]="search">
                        {{ item.companyLocationId }}</span>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-md-6 ">
                  <label>What do you want to do?</label>
                  <ng-select name="whatdoyouwanttodo" [items]="service.allActionTypes"
                    [(ngModel)]="service.leaveManageObj.slctdAction" [bindLabel]="'actionType'" groupBy="categoryName"
                    placeholder="What do you want to do?"
                    [disabled]="!service.leaveManageObj.slctdLocation || service.disabledButtonAndField || service.showVoucherCreatedDetails"
                    (change)="service.resetData()" required>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-12 np-lr form-group">
                <div class="col-md-3" *ngIf="service.leaveManageObj.slctdAction">
                  <label> {{(service.leaveManageObj.slctdAction.actionId == 1) && 'EL Generation' || 
                      ((service.leaveManageObj.slctdAction.actionId == 2) && 'Voucher' || 'Payment') 
                     }} Month
                    <small class="italic-text">( MMM/YYYY )</small>
                  </label>
                  <div class="input-group">
                    <span class="input-group-addon trigger" [owlDateTimeTrigger]="leavemonth"><i
                        class="fa fa-calendar"></i>
                      <input [owlDateTime]="leavemonth" style="width: 0px;height: 0px;padding: 0;border: none;">
                    </span>
                    <owl-date-time [pickerType]="'calendar'"
                      (monthSelected)="handleMonthElLeaveInCash(leavemonth,$event); service.resetData()"
                      [startView]="'year'" #leavemonth>
                    </owl-date-time>
                    <input type="text" name="leavemonth" (click)="openCalender(leavemonth);" class="form-control no-bg"
                      [(ngModel)]="service.leaveManageObj.slctdLeaveMonth" placeholder="Select Month"
                      [disabled]="service.disableButtonAndFields" [max]="maxDate" required>
                  </div>
                </div>
                <div class="col-md-3 "
                  *ngIf="service.leaveManageObj.slctdAction && service.leaveManageObj.slctdAction.actionId == 2">
                  <label>Voucher Category ?</label>
                  <ng-select name="vouchercategory" [items]="service.voucherCategory"
                    [(ngModel)]="service.leaveManageObj.slctdAction.slctdVoucherCategory" [bindLabel]="'categoryName'"
                    placeholder="Select Voucher Category"
                    [disabled]="service.disabledButtonAndField && service.showVoucherCreatedDetails || service.showVoucherCreatedDetails"
                    (change)="service.resetData()" required>
                  </ng-select>
                </div>
                <div class="col-md-3 form-group"
                  *ngIf="service.leaveManageObj.slctdAction && service.leaveManageObj.slctdAction.actionId == 3">
                  <label>Payment Mode</label>
                  <ng-select name="payment" [items]="service.paymentModes"
                    [(ngModel)]="service.leaveManageObj.slctdPaymentMode" [bindLabel]="'modeName'"
                    placeholder="Select Payment Mode" [disabled]="service.disabledButtonAndField"
                    (change)="service.resetData()" required>
                  </ng-select>
                </div>
                <div
                  class="col-md-{{(service.leaveManageObj.slctdAction && service.leaveManageObj.slctdAction.actionId == 1) && 9 
                  || (service.leaveManageObj.slctdAction && service.leaveManageObj.slctdAction.actionId == 2 || 
                  service.leaveManageObj.slctdAction && service.leaveManageObj.slctdAction.actionId == 3) && 6 || (service.leaveManageObj.slctdAction == null) && 12}}">
                  <button type="button" class="btn btn-primary pull-right"
                    [disabled]="service.disabledButtonAndField || manage_leave.invalid " col-button-only
                    (click)="serverCallsInElEncash()">Get
                    Details
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div [@leave]="service.animationState">
            <ng-container *ngIf="service.loadElEncashmentComp">
              <app-el-encashment></app-el-encashment>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>